@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    background-color: var(--gray-white);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    padding: 0px 10px;
}

th,
td {
    border: 1px solid var(--light-black);
    padding: 10px 15px;
}

:root {
    --gray-white: #F0F1F2;
    --white: #FFFFFF;
    --black: #000000;
    --gray-black: #DDDDDD;
    --light-black: #212523;
    --light-black-op: #21252350;
    --main-green: #157343;
    --main-light: #37A000;
    --light-orange: #FD7E14;
    --green: #008000;
    --light-green: #e9f6ec;
    --red: #FF0000;
    --light-red: #fbeaec;
    /* === FONTS SIZE FOR HEADING === */
    --primary-head: 22px;
    --secondary-head: 1.125rem;
    --secondary: 1rem;
    --primary-para: 0.825rem;

}

/* === TOP SECTION === */
.top-section {
    gap: 30px;
    height: 60px;
    padding-left: 30px;
    margin: 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #F0F1F2;
    background-color: var(--white);
    display: flex;
    align-items: center;
}

.top-section a {
    font-size: var(--secondary-head);
    color: var(--black);
}

.top-section a:hover {
    color: var(--red);
}

.quotation-list a {
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--white);
    background: var(--main-green);
}

.quotation-list a:hover {
    color: var(--white);
}

/* === RESPONSIVE FOR MOBILE === */
@media(max-width: 768px) {
    .top-section {
        gap: 30px;
        height: 60px;
        padding-left: 10px;
        margin: 2px;
    }
}

/* === QUOTATION LIST SECTION === */
.quotation-list-section {
    position: sticky;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.1);
    background-color: var(--white);
}

/* === quotation-container === */
.quotation-container {
    height: 50px;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quotation-container p {
    font-size: var(--secondary-head);
}

.quotation-right-container ul {
    display: flex;
    gap: 5px;
}

.quotation-right-container ul li {
    padding: 5px 10px;
    border-radius: 5px;
    background: var(--main-green);
    display: flex;
    align-items: center;
}

.quotation-right-container ul li a {
    font-size: var(--primary-para);
    color: var(--white);
}

.quotation-right-container ul li img {
    width: 25px;
}

/* === QUOTATION SECOND SECTION === */
.quotation-second-section {
    height: 60px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.show-container {
    gap: 5px;
    display: flex;
    align-items: center;
}
.show-container p{
    font-size: var(--primary-para);
}
.download-file-container ul {
    padding-left: 10px;
    border-radius: 3px;
    color: var(--white);
    display: flex;
    align-items: center;
}

.download-file-container ul li {
    padding: 5px;
    padding-right: 5px;
    gap: 3px;
    background: var(--main-green);
    border-radius: 1px;
    border-left: 1px solid var(--white);
    display: flex;
    align-items: center;
}

.download-file-container ul li i {
    font-size: var(--primary-para);
}

.download-file-container ul li a {
    color: var(--white);
    font-size: var(--primary-para);
}

.search-container input {
    width: 200px;
    padding: 3px;
    font-size: var(--primary-para);
}

.search-container input:focus {
    outline: none;
}

/* === TABLE SECTION === */
.table-section {
    margin: 20px;
}
table thead tr th{
    font-size: var(--secondary);
}
table tbody tr td{
    font-size: var(--primary-para);
}
table tbody tr td p {
    display: flex;
    align-items: center;
    justify-content: center;
}

table tbody tr td {
    text-align: center;
}

/* ==== EDIT CONTAINER === */
.editabe-container {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* === EDIT ICON === */
.edit-icon i {
    padding: 5px;
    border-radius: 2px;
    color: var(--main-green);
    border: 1px solid var(--main-green);
    background-color: var(--light-green);
}

.edit-icon i:hover {
    padding: 5px;
    border-radius: 2px;
    color: var(--white);
    border: 1px solid var(--main-green);
    background-color: var(--main-green);
}

/* === DELETE ICON === */
.delete-icon i {
    padding: 5px;
    border-radius: 2px;
    color: var(--red);
    border: 1px solid var(--red);
    background-color: var(--light-red);
}

.delete-icon i:hover {
    color: var(--white);
    background-color: var(--red);
}

/* === ACTIVE WORK === */
span {
    background-color: var(--light-green);
    color: var(--main-green);
    padding: 5px 10px;
    border-radius: 5px;
}

/* === DEACTIVE WORK === */
tbody tr td b {
    background-color: var(--light-red);
    color: var(--red);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: normal;
}
/* === SLIDE PAGES === */
.sh-slider-pages {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sh-slide-right-item {
    gap: 10px;
    display: flex;
    align-items: center;
}

.sh-slide-right-item a {
    padding: 6px 10px;
    border-radius: 5px;
    color: var(--black);
    background-color: var(--light-black-op);
}

.sh-slide-right-item p {
    padding: 6px 15px;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--main-green);
}

/* === FOOTER === */
.footer-container{
    bottom: 0;
    position: fixed;
    background-color: var(--white);
    width: 100%;
    height: 50px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}