@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    background-color: var(--gray-white);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
body{
    background-color: var(--gray-white);
}
:root {
    --gray-white: #F0F1F2;
    --white: #FFFFFF;
    --black: #000000;
    --gray-black: #DDDDDD;
    --light-black: #212523;
    --light-black-op: #21252350;
    --main-green: #157343;
    --main-light: #37A000;
    --light-orange: #FD7E14;
    --green: #008000;
    --light-green: #e9f6ec;
    --red: #FF0000;
    --light-red: #fbeaec;
    /* === FONTS SIZE FOR HEADING === */
    --primary-head: 22px;
    --secondary-head: 1.125rem;
    --secondary: 1rem;
    --primary-para: 0.825rem;
}
/* === PARENT SECTION === */
.sh-parent-section{
    width: 100%;
    padding: 20px;
}
/* === CHILD SECTION === */
.sh-child-section{
    border-radius: 5px;
    width: 100%;
    background-color: var(--white);
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.2);
}
/* === SALE RETURN TOP ITEMS === */
.sh-sale-return-top-items{
    height: 60px;
    gap: 0px 30px;
    padding-left: 20px;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.2);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.sh-active a{
    color: var(--white);
}
.sh-active{
    background-color: var(--main-green);
    border-radius: 5px;
    padding: 10px;
}
.sh-list a{
    color: var(--black);
}
.sh-list a:hover{
    color: var(--red);
}
/* === SALE NUMBER CONTAINER === */
.sh-sale-number-container{
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 20px;
}
.sh-sale-number-container p{
    font-size: var(--secondary);
}
.sh-sale-number-container input{
    padding: 5px 10px;
    font-size: var(--secondary);
    border: 1px solid var(--light-black-op);
}
.sh-sale-number-container input:focus{
    outline: none;
}
.sh-sale-number-container a{
    background-color: var(--main-green);
    color: var(--white);
    font-size: var(--secondary);
    padding: 5px 10px;
    border-radius: 5px;
}
/* === quotation-container === */
.quotation-container {
    padding: 20px;
}

.quotation-container p {
    font-size: var(--secondary-head);
}